html,
html body {
    background: rgb(255, 255, 255, 0);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#header {
    background-color: rgb(255, 255, 255, 0);
}

@-webkit-keyframes animate-background {
    50% {
        background-position: right;
    }
}

@keyframes animate-background {
    50% {
        background-position: right;
    }
}

section#hero {
    top: -100px;
    padding: 80px 0;
    background-size: cover;
    height: fit-content;
    -webkit-animation: animate-background 10s infinite;
    animation: animate-background 10s infinite;
}

@-webkit-keyframes animate-arrow {
    0% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}

@-moz-keyframes animate-arrow {
    0% {
        -moz-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}

@-webkit-keyframes animate-link {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

#about-link {
    animation: animate-link 1.5s ease-in-out infinite;
}
#jump-to-content,
#jump-to-content:hover,
#about-link {
    color: #002657;
}

#jump-to-content i {
    margin: 20px auto auto auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: animate-arrow 1s ease-in-out infinite;
    -webkit-animation: animate-arrow 1s ease-in-out infiinte;
    -moz-animation: animate-arrow 1s ease-in-out infiinte;
}

#post-feedback {
    position: fixed;
    z-index: 999;
    bottom: 15px;
    right: 15px;
}

#main-content {
    padding: 0px;
    color: #002657;
}

#main-content h3 {
    background: deepskyblue;
}

.post-body {
    padding-left: 250;
}

#post-body p, #post-body h1, #post-body h2, #post-body h3, #post-body h4, #post-body h5, #post-body h6{
    color: #002657!important;
    font-family: "Poppins", sans-serif!important;
    font-size: 16px!important;
}

#post-body h1 {
    font-size: 3rem!important;
}

#post-body h2 {
    font-size: 2.5rem!important;
}

#post-body h3 {
    font-size: 2rem!important;
}

#post-body h4 {
    font-size: 1.75rem!important;
}

#post-body h5 {
    font-size: 1.50rem!important;
}

#post-body h6 {
    font-size: 1.25rem!important;
}


#post-body a {
    color: #ae39f1!important;
    font-family: "Poppins", sans-serif!important;
}


#post-body a:hover {
    text-decoration: underline;
}

#post-body code {
    font-size: 16px!important;
}

.posts .post-content.blog-detail,
.posts .post-content.blog-detail:hover {
    background: #935ae4;
}

.post-item {
    transition: all 0.3s;
}

.post-item:hover {
    transform: scale3d(1.03, 1.03, 1.03);
}

.see-more {
    padding: 10px;
    color: #002657;
    border: 3px solid #002657;
    background: white;
    transition: all 0.3s;
    border-radius: 5px;
}

.see-more:hover {
    color: white;
    background: #002657;
    border: 1px solid #002657;
}

@media (max-width: 768px) {
    .main-article {
        margin: 5%;
    }

    img.post-img {
        width: 100%;
        height: 50vw;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) {
    .main-article {
        margin: 5% 15% 5% 15%;
    }

    img.post-img {
        width: 100%;
        height: 30vw;
        margin-bottom: 40px;
    }
}

.blog-author-detail img.about-author {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.post-title {
    text-align: center;
    font-weight: bold;
}

.post-category {
    margin-top: 10px;
}

.post-info {
    color: #002657;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.post-header {
    margin-bottom: 3rem;
    color: #002657;
    text-align: center;
}

.post-content {
    color: white;
    padding: 10px;
}

.comment-section {
    margin-top: 10rem;
    font-size: 1.6rem;
}

button.submit-comment {
    color: #c582eb;
    padding: 9px;
    border-radius: 7px;
    border: 2px solid #002657;
    transition: background-color, border 1s;
    cursor: pointer;
    text-align: center;
    font-size: 2.3rem;
    margin-top: 10px;
    background: #002657;
}

button.submit-comment:hover {
    color: #002657;
    background: #c582eb;
    border: #c582eb;
    padding: 9px;
}

span.info-head {
    color: white;
}

.author {
    margin-top: 10px;
    padding-left: 5px;
}

span.category {
    color: #002657;
    padding: 7px 14px;
    margin-left: 1.2rem;
    border-radius: 5px;
}

.commenter,
.replier {
    color: #002657;
}

.comment-info,
.reply-info {
    color: skyblue;
}

.show-reply-form,
.make-comment-report {
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    background: #002657;
    padding: 7px;
    border: 1px solid;
    box-shadow: 0px 0px 10px #002657;
    border-radius: 5px;
}

.show-reply-form:hover,
.make-comment-report:hover {
    font-size: 17px;
    color: #002657;
    background: #c582eb;
}

.reply,
.comment {
    border: 2px solid #4d4a91;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background: #4d4a91;
    margin-bottom: 2%;
    box-shadow: 0px 0px 20px #002657;
}

.comment img {
    max-height: 50vh;
    max-width: 100%;
}

.reply-div {
    display: none;
}

.head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form {
    text-align: center;
}

button.text {
    cursor: pointer;
    padding-top: 1.5rem;
    border: 0.1rem solid #002657;
    padding: 0.9rem;
    text-align: center;
    border-radius: 3rem;
    background: #002657;
    color: #c582eb;
    font-weight: bold;
    transition: 0.3s ease-in-out all;
}

button.text span {
    color: skyblue;
}

button.text:hover {
    background: #c582eb;
    color: #002657;
}

.post-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-image {
    width: 100%;
    height: 100px;
}

.post-ttl {
    color: white;
}

p.post-time {
    color: #002657;
    font-weight: bold;
}

p.post-author {
    color: #91d9f7;
}

.card-item {
    margin: auto;
}
