{% autoescape off %}
Hi {{ user.firstname }},

You requested to change the email account registered with your Synergy Network International account, a few more steps and your request gets done. Please click on the link below to complete the process.

http://{{ domain }}{% url 'sni_app:verify_new_email' uidb64=uid token=token to=new_email_account %}

If clicking the link above doesn't work, please copy and paste the URL in your browser.

If you initiated this request by mistake, you don't need to take any further action and can safely disregard this email.

Sincerely,
With love, the Synergy Network International team.
{% endautoescape %}