{% autoescape off %}
To initiate the password reset process for your Account {{ user.email }},
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in your browser.

If you didn't initiate the request, it's likely that another user entered
your email address by mistake while trying to reset a password. If that's the case, you don't need to take any further
action and can safely
disregard this email.

Sincerely,
With love, the Synergy Network International team.
{% endautoescape %}