{% load blog_extras %}
<style type="text/css">
  .greed-kontainer {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    border: 2px solid #8263b9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .greed-kontainer>a,
  .greed-kontainer>div {
    max-height: 200px;
  }

  .btn {
    color: white;
    background: #9f48d1;
    border: 1px solid #9f48d1;
    border-radius: 7px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem;
    align-self: end;
  }

  .btn:hover {
    color: #c582eb;
    font-weight: bold;
    background: white;
    border: 1px solid white;
    border-radius: 7px;
  }

  .card {
    max-width: 70rem;
    width: 100%;
  }

  .card-body {
    padding: 20rem;
  }

  .card-img {
    width: 100%;
    height: 100%;
  }

  a.card-link {
    height: 100%;
  }

  .card-title {
    color: #002657;
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-title:hover {
    white-space: revert;
  }

  .card-detail {
    display: inline-grid;
    grid-template-columns: 100%;
    text-align: center;
    padding: 1rem;
    border: 1px solid #c582eb;
    border-top: none;
  }

  div.card-detail.card-footer {
    color: navy;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: end;
  }

  div.card-detail.card-footer span {
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: bold;
  }

  div.card-detail.card-footer span.published {
    color: navy;
  }

  div.card-detail.card-footer span.published.center {
    text-align: center;
    align-self: end;
  }

  div.card-detail.card-footer span.updated span.author {
    color: navy;
    opacity: 1;
  }

  div.card-detail.card-footer span.updated {
    color: white;
    text-align: left;
  }

  div.card-detail.card-footer span.published span.author {
    color: white;
    opacity: 1;
  }

  .card-link {
    text-decoration: none;
  }

  .card-text#card-text,
  .card-text#card-text:hover {
    text-align: left;
    margin-bottom: 0.2rem;
    color: antiquewhite;
    font-size: 1.5rem;
  }
</style>

{% if blog_post %}
<!-- <div class="container">
  <div class="row"> -->
<!-- Blog Post -->

{% concat_all blog_post.date_published.hour|stringformat:"i" '-' blog_post.date_published.minute|stringformat:"i" '-' blog_post.date_published.second|stringformat:"i" '-' blog_post.date_published.microsecond|stringformat:"i"  as blog_time_published %}
<div class="greed-kontainer">
  <a class="card-link"
    href="{% url 'blog:detail' blog_post.category blog_post.date_published.year blog_post.date_published.month blog_post.date_published.day blog_time_published blog_post.id blog_post.title|slugify %}">


    <img class="card-img" src="{{blog_post.image.url}}" />
  </a>

  <div class="card-detail">
    <h2 class="card-title">{{blog_post.title}}</h2>
    <a
      href="{% url 'blog:detail' blog_post.category blog_post.date_published.year blog_post.date_published.month blog_post.date_published.day blog_time_published blog_post.id blog_post.title|slugify %}">
      {% comment %} <a
        href="{% url 'blog:detail' blog_post.category blog_post.date_published.year blog_post.date_published.month %}">
        {% endcomment %}
        <p class="card-text" id="card-text">
          {% comment %}
          {% with
                blog_post.date_published.hour|addstr:"-"|addstr:blog_post.date_published.minute|addstr:"-"|addstr:blog_post.date_published.second|addstr:"-"|addstr:blog_post.date_published.microsecond
                as blog_published_time%}
          {{ blog_published_time}}
          {% endwith %} {% endcomment %}
          {{blog_post.body|safe|truncatechars:180}}
        </p>
      </a>


  </div>
  <div class="card-detail card-footer">
    {% if blog_post.date_published != blog_post.date_updated %}
    <span class="published">Date Published: {{blog_post.date_published|myfunc}} <span class="author">by
        {{blog_post.author}}</span></span>
    <br><span class="updated">Last Update: {{blog_post.date_updated|myfunc}} <span class="author">by
        {{blog_post.author}}</span></span>
    {% else %}
    <span class="published center">Date Published: {{blog_post.date_published|myfunc}} <span class="author">by
        {{blog_post.author}}</span></span>
    {% endif %}
    <span class="feedback">{{blog_post.num_likes}}<i class="fa fa-thumbs-up"></i> {{blog_post.num_dislikes}}<i
        class="fa fa-thumbs-down"></i> {{blog_post.total_comments}}<i class="fa fa-comments"></i>
  </div>


</div>
{% else %}

<div class="container">
  <div class="row">
    <div class="card m-auto">
      <div class="card-body mt-2 mb-2">
        <h2 class="card-title">No results</h2>
        <p class="card-text">
          There were no results matching the search: "{{query}}"
        </p>
      </div>
    </div>
  </div>
</div>

{% endif %}