{% load blog_extras %}
{% if blog_post %}

{% concat_all blog_post.date_published.hour|stringformat:"i" '-' blog_post.date_published.minute|stringformat:"i" '-' blog_post.date_published.second|stringformat:"i" '-' blog_post.date_published.microsecond|stringformat:"i"  as blog_time_published %}

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="post-item">
    <div><img src="{{blog_post.image.url}}" class="post-image img-fluid" alt="..."></div>
    <div><a style="text-decoration: none;"
        href="{% url 'blog:detail' blog_post.category blog_post.date_published.year blog_post.date_published.month blog_post.date_published.day blog_time_published blog_post.id blog_post.title|slugify %}">
        <div class="post-content">
          <div class="d-flex text-uppercase justify-content-around align-items-center mb-3">
            <h4 style="background: {{blog_post.category|get_color}};">{{blog_post.category|get_readable}}</h4>
          </div>

          <h3 class="text-center font-weight-bold">{{blog_post.title}}</h3>
          <p class="post-body">{{blog_post.body|get_text|truncatechars:130}}</p>
          <div class="trainer align-items-center">
            <div class="trainer-profile d-flex justify-content-between align-items-center">
              <div class="author-detail d-flex">
                <img src="{{blog_post.author.user.image.url}}" class="img-fluid" alt="">
                <span>{{blog_post.author.user.firstname}} {{ blog_post.author.user.lastname}}</span>
              </div>
              <div class="feedback d-flex">
                <i class="fa fa-thumbs-up"></i>&nbsp;{{ blog_post.num_likes }}
                &nbsp;&nbsp;
                <i class="fa fa-thumbs-down"></i>&nbsp;{{ blog_post.num_dislikes }}&nbsp;&nbsp;
                <i class="fa fa-comments"></i>&nbsp;{{ blog_post.total_comments }}
              </div>
            </div>
            <div class="trainer-rank d-block text-center align-items-center">
              <p><span>Published: </span>{{blog_post.date_published|date:"r"}}</p>
              <p><span>Updated: </span>{{blog_post.date_updated|date:"r"}}</p>
            </div>
          </div>
        </div>
    </div>
    </a>
  </div>
</div>
{% else %}

<div class="container">
  <div class="row">
    <div class="card m-auto">
      <div class="misc card-body text-center border-5 mt-2 mb-2" style="background: #002657;">
        <h2 class="card-title">No results</h2>
        <p class="card-text">
          There were no results matching the search information provided"
        </p>
      </div>
    </div>
  </div>
</div>

{% endif %}