{% load blog_extras %}
{% comment %} <style type="text/css">
  .greed-kontainer {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    border: 2px solid #8263b9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .greed-kontainer>a,
  .greed-kontainer>div {
    max-height: 200px;
  }

  .btn {
    color: white;
    background: #9f48d1;
    border: 1px solid #9f48d1;
    border-radius: 7px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem;
    align-self: end;
  }

  .btn:hover {
    color: #c582eb;
    font-weight: bold;
    background: white;
    border: 1px solid white;
    border-radius: 7px;
  }

  .card {
    max-width: 70rem;
    width: 100%;
  }

  .card-body {
    padding: 20rem;
  }

  .card-img {
    width: 100%;
    height: 100%;
  }

  a.card-link {
    height: 100%;
  }

  .card-title {
    color: #002657;
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-title:hover {
    white-space: revert;
  }

  .card-detail {
    display: inline-grid;
    grid-template-columns: 100%;
    text-align: center;
    padding: 1rem;
    border: 1px solid #c582eb;
    border-top: none;
  }

  div.card-detail.card-footer {
    color: navy;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: end;
  }

  div.card-detail.card-footer span {
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: bold;
  }

  div.card-detail.card-footer span.published {
    color: navy;
  }

  div.card-detail.card-footer span.published.center {
    text-align: center;
    align-self: end;
  }

  div.card-detail.card-footer span.updated span.author {
    color: navy;
    opacity: 1;
  }

  div.card-detail.card-footer span.updated {
    color: white;
    text-align: left;
  }

  div.card-detail.card-footer span.published span.author {
    color: white;
    opacity: 1;
  }

  .card-link {
    text-decoration: none;
  }

  .card-text#card-text,
  .card-text#card-text:hover {
    text-align: left;
    margin-bottom: 0.2rem;
    color: antiquewhite;
    font-size: 1.5rem;
  }
</style> {% endcomment %}

{% if blog_post %}
<!-- <div class="container">
  <div class="row"> -->
<!-- Blog Post -->

{% concat_all blog_post.date_published.hour|stringformat:"i" '-' blog_post.date_published.minute|stringformat:"i" '-' blog_post.date_published.second|stringformat:"i" '-' blog_post.date_published.microsecond|stringformat:"i"  as blog_time_published %}

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="post-item">
    <div><img src="{{blog_post.image.url}}" class="post-image img-fluid" alt="..."></div>
    <div><a
        href="{% url 'blog:detail' blog_post.category blog_post.date_published.year blog_post.date_published.month blog_post.date_published.day blog_time_published blog_post.id blog_post.title|slugify %}">
        <div class="post-content">
          <div class="d-flex text-uppercase justify-content-around align-items-center mb-3">
            <h4 style="background: {{blog_post.category|get_color}};">{{blog_post.category|get_readable}}</h4>
            {% comment %} <p class="price">$169</p> {% endcomment %}
          </div>

          <h3 class="text-center font-weight-normal">{{blog_post.title}}</h3>
          <p class="post-body">{{blog_post.body|get_text|truncatechars:130}}</p>
          <div class="trainer align-items-center">
            <div class="trainer-profile d-flex justify-content-between align-items-center">
              <div class="author-detail d-flex">
                <img src="{{blog_post.author_img.url}}" class="img-fluid" alt="">
                <span>{{blog_post.author.firstname}} {{ blog_post.author.lastname}}</span>
              </div>
              <div class="feedback d-flex">
                <i class="fa fa-thumbs-up"></i>&nbsp;{{ blog_post.num_likes }}
                &nbsp;&nbsp;
                <i class="fa fa-thumbs-down"></i>&nbsp;{{ blog_post.num_dislikes }}&nbsp;&nbsp;
                <i class="fa fa-comments"></i>&nbsp;{{ blog_post.total_comments }}
              </div>
            </div>
            <div class="trainer-rank d-block text-center align-items-center">
              <p><span>Published: </span>{{blog_post.date_published|date:"r"}}</p>
              <p><span>Updated: </span>{{blog_post.date_updated|date:"r"}}</p>
            </div>
          </div>
        </div>
    </div>
    </a>
  </div>
</div> <!-- End Course Item-->
{% else %}

<div class="container">
  <div class="row">
    <div class="card m-auto">
        <div class="misc card-body text-center border-5 mt-2 mb-2" style="background: #002657;">
        <h2 class="card-title">No results</h2>
        <p class="card-text">
          There were no results matching the search information provided"
        </p>
      </div>
    </div>
  </div>
</div>

{% endif %}