{% extends 'base.html' %} {% load static %}

{% block title %}
Blog Index - Synergy Network International
{% endblock %}

{% block content %}
<div id="find-post">
  <button title="Search for a blog post" class="btn" id="open-search-div"><i class="fa fa-search"></i></button>
</div>
<section id="posts" class="posts">
	<div class="container">
		<div id="search-div" class="search-div">
			<div class="col-lg-12 d-flex m-auto search-popup" data-aos="zoom-in" data-aos-delay="100" id="search-popup">
				<form class="search-form d-flex flex-column m-auto" style="font-size: 16px;" method="get">
					<span class="form-group text-search d-flex justify-content-between"><input
							class="search-input w-100 text-primary border-white" id="id_q" name="q"
							placeholder="What are you looking for?" type="text" style="border-radius: 7px;" /><i
							id="close-search-div" class="text-white cursor-pointer bi bi-x"
							style="font-size: 40px;"></i></span>

					<span class="form-group time-search align-self-center">
						<label for="time-filter" class="label">Posted Since:</label>
						<select value="Today" class="cursor-pointer text-primary w-100" id="time-filter"
							name="time-filter">
							<option selected value="">All</option>
							<option value="today">Today</option>
							<option value="yesterday">Yesterday</option>
							<option value="last week">Last week</option>
							<option value="2 weeks ago">2 weeks ago</option>
							<option value="3 weeks ago">3 weeks ago</option>
							<option value="last month">Last month</option>
							<option value="this year">This year</option>
						</select>
					</span>

					<span class="form-group align-self-center">
						<label for="category-filter" class="label">Category:</label>
						<select class="cursor-pointer text-primary w-100" id="category-filter" name="category-filter">
							<option selected value="">All</option>
							<option value="history">History</option>
							<option value="politics-and-international-relations">Politics & International
								Relations</option>
							<option value="society-and-culture">Society & Culture</option>
							<option value="science-and-technology">Science & Technology</option>
							<option value="art-and-literature">Art & Literature</option>
							<option value="business-and-economics">Business & Economics</option>
						</select>
					</span>

					<span class="form-group text-center">
						<button href="{% url 'blog:index' %}" class="w-50 mt-0 form-control btn sbmt submit px-3"
							role="button" type="submit">Find post</button>
					</span>
				</form>
			</div>
		</div>

		{% if blog_posts %}
		<div class="row" data-aos="zoom-in" data-aos-delay="100">
			{% for post in blog_posts %}
			{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
			{% endfor %}
		</div>
		{% else %}
		{% include 'blog/snippets/blog_post_snippet.html' with query=query %}
		{% endif %}
	</div>
</section>
{% include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts %}

{{cap}}
{% endblock %}

{% block script %}
<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}";
	document.getElementById("time-filter").value = "{{time_filter}}";
	console.log("{{category_filter}}")
	console.log("{{category_filter}}")
	var categories_readable = {
		"history": "history",
		"politics-and-international-relations": "POLITICS & INTERNATIONAL RELATIONS",
		"society-and-culture": "SOCIETY & CULTURE",
		"science-and-technology": "SCIENCE & TECHNOLOGY",
		"art-and-literature": "ART & LITERATURE",
		"business-and-economics": "BUSINESS & ECONOMICS"
	}
	document.getElementById("category-filter").value = "{{category_filter}}";
</script>
{% endblock %}