<style type="text/css">
	@media (min-width: 768px) {
		html {
			font-size: 16px;
		}
	}

	body,
	html {
		font-size: 62.5%;
		width: 100%;
	}

	#blog-nav {
		background: none;
		font-size: 1.6rem;
	}

	#blog-nav-container {
		background-color: #002657;
		color: #C582EB;
	}

</style>

<!-- Header -->
{% comment %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm"
     id="blog-nav-container">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        {% if request.user.is_authenticated %}
        <p class="m-auto" id="greeting">Hello, {{request.user.username}}</p>
        {% endif %}
    </h5>
    <div class="search-bar mt-sm-2 mr-2">
        <form method="get">
            <input class="form-control" id="id_q" name="q" placeholder="Search..." type="text"/>
        </form>
    </div>
    <nav class="my-2 my-md-0 mr-md-3" id="blog-nav">
        {% if request.user.is_authenticated %}
        <a class="p-2" href="{% url 'home' %}">Home</a>
        <a class="p-2" href="{% url 'account' %}">Account</a>
        <a class="p-2" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="p-2" href="{% url 'home' %}">Home</a>
        <a class="p-2" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
</div> {% endcomment %}

<!-- End Header -->

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}";

</script>