<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
About - Synergy Network International
{% endblock %}

{% block content %}
<section id="main-about">
    <!-- ======= Hero Section ======= -->
    <section id="hero" style="background-image: url('{% static '/sni_app/images/Intro-Home-page-new.png' %}');"
        class="d-flex justify-content-center align-items-center">
        <div class="container intro-container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h2>Learn about who we are...</h2>
            <h1>And get to know us better</h1>
        </div>
    </section>
    <!-- End Hero -->
    <div class="container txt-container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 d-block border border-1 content about-content" data-aos="fade-left"
                data-aos-delay="100">
                <h4>VISION STATEMENT</h4>
                <p>
                    Synergy Network International aspires to be the
                    consolidation of global youth leadership and
                    potential. Our vision is to be a center for the
                    empowerment of youth voices through a network of
                    young leaders, each supporting one another in one
                    common bond: to change the world. This change will
                    come through every resource, piece of advice, and
                    initiative shared by our members as priceless
                    passion is exchanged and strengthened throughout our
                    platform for impact. We are the youth foundation for
                    change, progress, and success. To lay a foundation
                    for youth impact that consolidates leadership and
                    potential through a network of initiatives and young
                    leaders who synergize in forming innovative &
                    sustainable projects on a global scale.
                </p>
            </div>
            <div class="col-lg-6 d-block content about-content" data-aos="fade-right" data-aos-delay="100">
                <h4>MISSION STATEMENT</h4>
                <p>
                    To unite and amplify youth voices. Synergy Network
                    International seeks to amplify youth ambition by
                    stimulating networking and cooperation among youth
                    leaders from around the world. Through conferences,
                    conventions, and resources on how to grow student
                    initiatives, we spread youth knowledge and
                    connections to unify the world's young leaders under
                    a network that transforms their ambition into
                    reality. We want to show the world that its youth
                    are one, standing with one another as a mechanism
                    for success so that, together, we make this a better
                    place. To unite and empower youth within our forums,
                    conferences, workshops & sandboxes to build
                    innovative & sustainable projects.
                </p>
            </div>
            <div class="col-lg-6 d-block content about-content" data-aos="fade-up" data-aos-delay="100">
                <h4>OUR ORIGINS</h4>
                <p>
                    After observing how much connections with youth
                    leaders from around the world enhance one’s own
                    commitments and having been enriched by such
                    relationships themselves, three friends decided to
                    partner together on a journey to consolidate an
                    official network of youth leadership. These three
                    partners were connected in their common bond of
                    leadership, initiative, and a drive for change
                    despite the thousands of kilometers between them,
                    and they benefited greatly from it as one
                    strengthened and enriched the projects of another.
                    They realized that if even such a remote connection
                    as their own warranted success, an official network
                    committed to bringing leaders together like they
                    were but would be all the better on a much larger
                    scale. It would be a platform for change, a platform
                    founded on youth leadership and the knowledge,
                    passion, and adaptability of those leaders, a
                    network for amplifying ambition and unifying
                    potential to impact. It would be Synergy Network
                    International.
                </p>
            </div>
            <div class="col-lg-6 d-block content about-content" data-aos="fade-down" data-aos-delay="100">
                <h4>BENEFITS TO MEMBERS</h4>
                <p>
                    As a member of SNI, you are a part of a moving force
                    of youth leadership. You have a body of the world’s
                    youngest and most incredible change-makers standing
                    with you, supporting you with their own initiatives,
                    and sharing their immeasurable advice, experience,
                    and knowledge with you. They will develop your
                    skills, fostering well-founded passion, and lighting
                    a fire of triumph within you. You are a part of a
                    network of ambition and progress, a movement that
                    will give you a platform to raise and strengthen
                    your voice. Together, you will impact; together, you
                    will share success; and together, you will change
                    the world.
                </p>
            </div>
            <div class="col-lg-12 d-block content about-content" data-aos="zoom-in" data-aos-delay="100">
                <h4>MESSAGE TO THE WORLD</h4>
                <p>
                    Together we are stronger. Just as doctors come
                    together and support one another to help save lives,
                    we– the youth of the world– will unite to protect
                    ourselves. We are one, standing with each other as
                    we develop initiatives working against all the odds,
                    defying expectations, and surpassing the barriers
                    set up because of our ages. Together we can
                    transform ambition into reality and thoughts into
                    change. Our individual vitality, passion, and
                    potential can and will change the world on their
                    own; however, we shape the world when united.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}