<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8 ">
    <meta content="width=device-width, initial-scale=1 " name="viewport ">
    <title>Home - Synergy Network International</title>
    <meta content="Synergy Network International aspires to be the consolidation of global youth leadership and potential. Our vision is to be a center for the empowerment of "
          name="description ">
    <link href="static/sni_app/images/cropped-SNI-Favicon-32x32.png " rel="icon " sizes="32x32 ">
    <link href="static/sni_app/css/style.css " rel="stylesheet " type="text/css ">
    <script crossorigin="anonymous " src="https://kit.fontawesome.com/8e8ce04397.js "></script>
</head>

<body>
<header>
    <nav>
        <div class="wrapper ">
            <a href="/ " id="logo "><img alt="SNI-Logo " height="63 "
                                         src="static/sni_app/images/SNI-Logo-Transparent-1536x368.png "
                                         width="270 "></a>
            <ul class="navigation ">
                <li><a href="/ " title="Go To The Home Page ">Home</a></li>
                <li><a href="/#about " title="About Us ">About</a></li>
                <li><a href="/#schedule ">Schedule</a></li>
                <li><a href="/#speakers ">Speakers</a></li>
                <li><a href="/#organizer ">Organizer</a></li>
                <li><a href="/#venue ">Venue</a></li>
                <li><a href="/#sponsors ">Sponsors</a></li>
            </ul>
        </div>
        <div class="clear "></div>
    </nav>
</header>

<main>
    <div class="grid-container ">
        <div class="grid-item ">
            <img alt=" " id="first-image " src="static/sni_app/images/Hero-Home-page-new.png ">
        </div>
        <div class="grid-item ">
            <h1>Empowering Youth.</h1>
            <h3>Change. Progress. Success</h3>
            <button><a href="#about " role="button " title="About Us ">About Us <i class="fas fa-angle-down "></i></a>
            </button>
        </div>
    </div>

    <div class="grid-container " id="about ">
        <div class="grid-item ">
            <h2>Voice The Youth.</h2>
            <p>
                Synergy Network International aspires to be the consolidation of global youth leadership and potential.
                Our vision is to be a center for the empowerment of youth voices through a network of young leaders each
                supporting one another in one common bond:
                to change the world. This change will come through every resource, piece of advice, and initiative
                shared by our members as priceless passion is exchanged and strengthened throughout our platform for
                impact. We will be the youth foundation
                for change, progress, and success.
            </p>
        </div>
        <div class="grid-item ">
            <img alt=" " height="250 " src="static/sni_app/images/Intro-Home-page-new.png " width="250 ">
        </div>
    </div>

    <div id="#schedule ">
        <h2>Join The Discussion</h2>
        <h2>Schedule</h2>
    </div>
</main>

<footer>
    <div class="footer-wrapper ">
        <div class="grid-container2 ">
            <div class="grid-item2 overview " id="item1 ">
                <a href="/ "><img alt=" " height="75 " src="static/sni_app/images/SNI-Logo-Transparent-1536x368.png "
                                  width="300 "></a>
                <p>
                    Synergy Network International aspires to be the consolidation of global youth leadership and
                    potential. Our vision is to be a center for the empowerment of youth voices through a network of
                    young leaders each supporting one another in one common bond:
                    to change the world.
                </p>
                <ul class="overview-icons ">
                    <li><a href="/ " target="_blank " title="Reach Us On Facebook "><span style="color: #4267B2 "><i
                            class="fab fa-facebook "></i></span></a></li>
                    <li><a href="/ " target="_blank " title="Reach Us On Twitter "><span style="color: #1DA1F2 "><i
                            class="fab fa-twitter "></i></span></a></li>
                    <li><a href="/ " target="_blank " title="Reach Us On Dribbble "><span style="color: #EA4C89 "><i
                            class="fab fa-dribbble "></i></span></a></li>
                    <li><a href="/ " target="_blank " title="Reach Us On YouTube "><span style="color: #FF0000 "><i
                            class="fab fa-youtube "></i></span></a></li>
                    <li><a href="/ " target="_blank " title="Reach Us On Pinterest "><span style="color: #E60023 "><i
                            class="fab fa-pinterest "></i></span></a></li>
                    <li><a href="/ " target="_blank " title="Reach Us On Medium "><span style="color: black "><i
                            class="fab fa-medium "></i></span></a></li>
                </ul>
            </div>

            <div class="grid-item2 " id="item2 ">
                <h2>Get Started</h2>
                <ul>
                    <li><a href="/ ">Tutorials</a></li>
                    <li><a href="/ ">Resources</a></li>
                    <li><a href="/ ">Guides</a></li>
                    <li><a href="/ ">Examples</a></li>
                    <li><a href="/ ">Docs</a></li>
                </ul>
            </div>

            <div class="grid-item2 " id="item3 ">
                <h2>About</h2>
                <ul>
                    <li><a href="/ ">Stories</a></li>
                    <li><a href="/ ">Community</a></li>
                    <li><a href="/ ">Blog</a></li>
                    <li><a href="/ ">Careers</a></li>
                    <li><a href="/ ">Brand Assets</a></li>
                </ul>
            </div>

            <div class="grid-item2 " id="item4 ">
                <h2>Downloads</h2>
                <ul>
                    <li><a href="/ ">Flex UI Kit</a></li>
                    <li><a href="/ ">Modern UI Kit</a></li>
                    <li><a href="/ ">Framer UI Kit</a></li>
                    <li><a href="/ ">Gradients UI Kit</a></li>
                    <li><a href="/ ">Black & White UI Kit</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h4 class="footer-motto "><span class="purple-dot " style="color: #C582EB ">•</span>Change<span class="purple-dot "
                                                                                                    style="color: #C582EB ">•</span><span
            class="purple-dot " style="color: #C582EB ">Progress</span><span class="purple-dot
        " style="color: #C582EB ">•</span>Success<span class="purple-dot " style="color: #C582EB ">•</span></h4>

    <h3 class="credit "><em>~Credit: Gérman Cousillas & Basit Balogun~</em></h3>
    <h6 class="copyright ">Synergy Network International 2021 © All rights reserved</h6>
</footer>
</body>

</html>