<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Schedule - Synergy Network International</title>
  {% include "snippets/head_snippet.html" %} 
</head>

<body>

  <main>
    {% include "header.html" %}
    {% if request.user.is_authenticated %}
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget"
      data-url="https://calendly.com/basitworkemail10?text_color=002657&primary_color=d323d3"
      style="min-width: 320px; height: 630px"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
    {% else %}
    <h1>Sorry, You have to be logged in to schedule meetings with us</h3>
      {% endif %}
      {% include "footer.html" %}
  </main>
</body>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<script>
  Calendly.initInlineWidget({
    url: 'https://calendly.com/basitworkemail10/first-scheduled-meeting-with-sni',
    prefill: {
      name: "{{request.user.firstname}}" + " {{request.user.lastname}}",
      email: "{{request.user.email}}"
    }
  });
</script>

{% include "snippets/scripts_attachment.html" %}

</html>