<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
Schedule: Book a Spot and Join the Discussion | SNI
{% endblock %}

{% block meta %}
<meta content="All you need to know about our mentoring section and the synergy hub. Featuring our Mentors and their leadership experience and available times for mentorship" name="description" />
{% endblock %}

{% block content %}
<section id="hero" style="background-image: url('{% static '/sni_app/images/Hero-Home-page-new.png' %}');"
    class="
    d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="text-center">All you need to know about our mentoring service...</h1>
    </div>
</section>
{% if request.user.is_authenticated %}
<a href="https://www.picktime.com/fd5b2320-da1d-4e35-8261-691d92a589f0" id="booking-button" class="btn-light p-2 ptbkbtn font-weight-bold position-fixed" target="_blank">Book Appointment <i class="fa fa-calendar"></i></a>
{% else %}
<a class="more-btn font-weight-bold sticky"
    href="{% url 'login' %}?next={{request.path|urlencode}}">Book Now (Log In Required)</a>
<div class="text-center font-weight-bold sticky-auth">
    <a href="{% url 'register' %}" class="more-btn">Sign Up
        <i class="bx bx-chevron-right"></i></a>
    <a href="{% url 'login' %}?next={{request.path|urlencode}}" class="more-btn">Log In
        <i class="bx bx-chevron-right"></i></a>
</div>
{% endif %}
<section id="synergy-hub" class="synergy-hub">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-stretch">
                <div class="content">
                    <h2>Join the Discussion - Schedule</h2>
                    <p>
                        After reserving a spot on our booking page, the mentee
                        will receive an email containing the details of the
                        session booked for, the details include the zoom meeting link.
                        Mentee comes in and meets with the
                        mentor to walk them through the 'Synergising' period,
                        after which the mentee will be asked
                        to give more detail on the area where help is needed.
                        The mentor will then decide on a pathway forward, and the
                        mentorship begins for a period decided by
                        the mentor based on the mentee's needs.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="services default d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="fade-up">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <i class="bx bx-receipt default"></i>
                                    <h4>How to run an Online-based Organization or initiative?</h4>
                                </div>
                                <p>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Apps & website to be used when
                                            running online operations</li>
                                        <li><i class="bi bi-check-circle"></i> Methods of collaborating with
                                            teams virtually</li>
                                        <li><i class="bi bi-check-circle"></i> Process chart & work-flow
                                            creation (online versions)</li>
                                        <li><i class="bi bi-check-circle"></i> Creating an organizational
                                            culture that supersedes ‘artificial-ness’ &
                                            formalities of online communication</li>
                                        <li><i class="bi bi-check-circle"></i> How to attract your target
                                            audience to an online event?</li>
                                        <li><i class="bi bi-check-circle"></i> How to foster individual
                                            accountability & keep motivation at a high?
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="fade-right">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <i class="bx bx-cube-alt default"></i>
                                    <h4>Human Resource Management</h4>
                                </div>
                                <p>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Founding Principles &
                                            Organizational Culture</li>
                                        <li><i class="bi bi-check-circle"></i> Organizational Design</li>
                                        <li><i class="bi bi-check-circle"></i> Recruitment Management</li>
                                        <li><i class="bi bi-check-circle"></i> Performance & Rewards Management
                                            Systems</li>
                                        <li><i class="bi bi-check-circle"></i> Professional Development
                                            Mechanism (Training)</li>
                                        <li><i class="bi bi-check-circle"></i> Dealing with different types of
                                            people & situations
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="fade-left">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <i class="bx bx-images default"></i>
                                    <h4>Discovering the Leader within you</h4>
                                </div>
                                <p>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Leadership Traits (exploration
                                            journey)</li>
                                        <li><i class="bi bi-check-circle"></i> Types of Leadership (exploration
                                            journey)</li>
                                        <li><i class="bi bi-check-circle"></i> Leadership vs. Management, &
                                            followers (exploration journey)</li>
                                        <li><i class="bi bi-check-circle"></i> Starting your leadership
                                            discovery journey</li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="fade-left">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <i class="bx bx-images default"></i>
                                    <h4>Who are the Mentors at the Synergy Hub?</h4>
                                </div>
                                <p>
                                    <ul class="mentors">
                                        <li class="mentor">
                                            <h2><i class="bi bi-check-circle"></i> Marwan Al Lamki</h2>
                                            <ul class="mentor-profile">
                                                <li> Marwan is an IB Diploma Graduate and is currently in his
                                                    second year of
                                                    studying Law & Politics at the University of Edinburgh.</li>
                                                <li>Marwan’s leadership experience include being Vice President
                                                    of Edinburgh's
                                                    BAME Law Society in its founding year during 2019/2020,
                                                    Forum & Content
                                                    Manager at The Macmillan, Director of uniO-MUN at MUN
                                                    Impact, as well as
                                                    being the co-founder & Executive Director of External
                                                    Affairs at SNI.</li>
                                                <li>Youngest Certified Human Resources Practitioner in Oman, was
                                                    certified with a
                                                    level-1 practitioner credential by OPAL (an leading Oil
                                                    company in Oman), he
                                                    was bestowed these credentials in August 2016, at the time
                                                    he was aged 14.</li>
                                                <li>Former Director General of Online Model United Nations, the
                                                    world's first Online
                                                    Model UN debating organisation, where he oversaw O-MUN’s
                                                    most challenging
                                                    administrative period since it was established, leading him
                                                    to ensure O-MUNs
                                                    continuity during the pandemic.
                                                </li>
                                            </ul>

                                            <div class="times text-center">
                                                <h2>
                                                    When is Marwan available?
                                                </h2>
                                                <ul>
                                                    <li>
                                                        <p>15:30- 16:00 UTC</p>
                                                        <p>22:00- 22:30 UTC</p>
                                                        <p>22:30- 23:00 UTC</p>
                                                        <p>23:00- 23:30 UTC</p>
                                                        <p>23:30- 24:00 UTC</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="mentor">
                                            <h2><i class="bi bi-check-circle"></i> Tovia Woods</h2>
                                            <ul class="mentor-profile">
                                                <li>Leadership Traits (exploration
                                                    journey)</li>
                                                <li>Types of Leadership (exploration
                                                    journey)</li>
                                                <li>Leadership vs. Management, &
                                                    followers (exploration journey)</li>
                                                <li>Starting your leadership discovery journey</li>
                                            </ul>

                                            <div class="times text-center">
                                                <h2>
                                                    When is Tovia available?
                                                </h2>
                                                <ul>
                                                    <li>
                                                        <p>15:30- 16:00 UTC</p>
                                                        <p>22:00- 22:30 UTC</p>
                                                        <p>22:30- 23:00 UTC</p>
                                                        <p>23:00- 23:30 UTC</p>
                                                        <p>23:30- 24:00 UTC</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        {% if not request.user.is_authenticated %}
                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="zoom-in">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <h4>Ready to Join the Discussion?</h2>
                                        <p>
                                            Easy! Create an account with us and login. Then book a session by
                                            filling in required the information in the window that pops up when
                                            you click the 'Book Now' button floating on the right side of your
                                            screen.
                                        </p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xl-12 d-flex align-items-stretch stretch-mod" data-aos="zoom-in">
                            <div class="service hub mt-4 mt-xl-0">
                                <div class="head">
                                    <h4>Don't Know How to Book Yourself a Spot?</h2>
                                        <p>
                                            Easy! Youc can reserve a spot in a session by
                                            filling in required the information in the window that pops up when
                                            you click the 'Book Appointment' button floating on the left side of your
                                            screen.
                                        </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- End .content-->
            </div>
        </div>
    </div>
</section>
<!-- End Synergy Hub Section -->
{% endblock %}
    
    {% block script %}
    <!-- Picktime booking widget script -->
    <script>
        ! function (e, t, n, s, i, c) {
            i = t.createElement(n), c = t.getElementsByTagName(n)[0], i.async = 1,
                i.src = s, c.parentNode.insertBefore(i, c)
        }(window, document, "script", "https://www.picktime.com/assets/booking.js");
    </script>
    <!-- Picktime booking widget script ends -->
    {% endblock %}