{% extends 'base.html' %}
{% load account_extras %}


{% block title %}My account{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-9">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold">Update account details</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="id_email">Email:</label>
              <input type="text" name="email" value="{{user.email}}" class="form-control " id="id_email" disabled>
              <p class="font-weight-bold"><a class=" text-primary font-weight-bold"
                  href="{% url 'sni_app:email_change' %}">Change email account registered with this account</a></p>
            </div>
            {% include 'registration/form.html' %}
            <div class="text-center"><button type="submit" class="btn btn-success btn-block mt-3">Save changes</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          <p class="font-weight-bold"><a class=" text-primary font-weight-bold"
              href="{% url 'password_change' %}">Change
              password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}