{% extends 'base.html' %}
{% load account_extras %}


{% comment %} {% block content %}

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap">
          <h3 class="text-center mb-4">Account Details</h3>
          <form method="post" class="account-edit-form">{% csrf_token %}
            <div class="form-group mb-3">
              <label class="label" for="email">Email Address</label>
              <input type="text" name="email" id="inputEmail" class="form-control"
                value="{{account_form.initial.email}}" required>
              <span class="icon fa fa-user"></span>
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">First Name</label>
              <input type="text" name="firstname" id="inputFirstName" class="form-control"
                value="{{account_form.initial.firstname}}" required>
              <span class="icon fa fa-user"></span>
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Last Name</label>
              <input type="text" name="lastname" id="inputLastName" class="form-control"
                value="{{account_form.initial.lastname}}" required>
              <span class="icon fa fa-user"></span>
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Username</label>
              <input type="text" name="username" id="inputUsername" class="form-control"
                value="{{account_form.initial.username}}" required>
              <span class="icon fa fa-user"></span>
            </div>
            {% for field in account_form %}
            <p>
              {% for error in field.errors %}
              <p style="color: red; font-size: 15px;">{{ error }}</p>
              {% endfor %}
            </p>
            {% endfor %}
            {% if account_form.non_field_errors %}
            <div style="color: red; font-size: 15px;">
              <p>{{account_form.non_field_errors}}</p>
            </div>

            {% endif %}

            <div class="form-group text-center">
              <button type="submit" class="form-control btn sbmt submit px-3">Save Changes</button>
            </div>

            <div class="misc d-flex flex-column">
              <a class="m-auto" href="{% url 'password_change' %}">Change password</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% endcomment %}


{% block title %}My account{% endblock %}

{% comment %} {% block breadcrumb %}
<li class="breadcrumb-item active">My account</li>
{% endblock %} {% endcomment %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold">Update account details</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'registration/form.html' %}
            <div class="text-center"><button type="submit" class="btn btn-success btn-block mt-3">Save changes</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          <p class="font-weight-bold"><a class=" text-primary font-weight-bold"
              href="{% url 'password_change' %}">Change
              password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}