{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 footer-contact">
                    <a href="/"><img alt="" height="75"
                            src="{% static 'sni_app/images/SNI-Logo-Transparent-1536x368.png' %}" width="300" /></a>
                    <p>
                        Synergy Network International aspires to be the
                        consolidation of global youth leadership and
                        potential. Our vision is to be a center for the
                        empowerment of youth voices through a network of
                        young leaders each supporting one another in one
                        common bond: to change the world.
                    </p>
                    <div class="social-links text-center pt-3 pt-md-0">
                        <a href="https://www.instagram.com/sni.world/" target="_blank" title="Reach Us On Instagram" class="instagram"><i
                                class="bx bxl-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Get Started</h4>
                    <ul>
                        <li><a href="/">Tutorials</a></li>
                        <li><a href="/">Resources</a></li>
                        <li><a href="/">Guides</a></li>
                        <li><a href="/">Examples</a></li>
                        <li><a href="/">Docs</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>About</h4>
                    <ul>
                        <li><a href="/">Stories</a></li>
                        <li><a href="/">Community</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/">Careers</a></li>
                        <li><a href="/">Brand Assets</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Downloads</h4>
                    <ul>
                        <li><a href="/">Flex UI Kit</a></li>
                        <li><a href="/">Modern UI Kit</a></li>
                        <li><a href="/">Framer UI Kit</a></li>
                        <li><a href="/">Gradients UI Kit</a></li>
                        <li><a href="/">Black & White UI Kit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-credit">
        <div class="text-center">
            <div class="copyright">
                <h6 class="copyright">
                    {%  now "Y" as current_year %}
                    Synergy Network International &copy; {{current_year}} All rights
                    reserved
                </h6>
            </div>
        </div>
    </div>
</footer>

<div id="preloader"></div>