{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex justify-content-around">
        <a class="full-logo" sytle="max-width: 270px" href="/"
            ><img
                alt="SNI-Logo"
                height="69.47"
                id="logo"
                src="{% static 'sni_app/images/SNI-Logo-Transparent-1536x368.png' %}"
                width="270"
        /></a>
        <a class="cropped-logo" href="/"
            ><img
                alt="SNI-Logo"
                id="logo"
                src="{% static 'sni_app/images/SNI-Logo-cropped.png' %}"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="route">
                    <a href="/" title="Go To The Home Page">Home</a>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:about' %}" title="">About</a>
                </li>
                <li class="route">
                    <a href="{% url 'blog:index' %}" title="">Blog</a>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:organizer' %}">Organizer</a>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:speakers' %}">Speakers</a>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:sponsors' %}">Sponsors</a>
                </li>
                <li class="dropdown">
                    <a class="route" href="#"
                        ><span>Authentication </span>
                        <i class="bi bi-chevron-down"></i
                    ></a>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        > {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="route" href="#"
                        ><span>Events </span> <i class="bi bi-chevron-down"></i
                    ></a>
                    <ul>
                        <li><a href="#">Model United Nations (MUN)</a></li>
                        <li><a href="#">Sustainbility Conference</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="route" href="#"
                        ><span>My Account </span>
                        <i class="bi bi-chevron-down"></i
                    ></a>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li style="color: white">
                            <p style="font-size: 15px">
                                <i
                                    style="color: #c582eb; margin-left: 10%"
                                    class="bx bx-user"
                                ></i
                                >{{request.user.username}}
                            </p>
                        </li>
                        <li>
                            <a href="{% url 'account' %}"
                                >Edit Account Details</a
                            >
                        </li>
                        {% else %}
                        <li>
                            <p
                                style="
                                    color: white;
                                    font-weight: bold;
                                    font-size: 15px;
                                "
                            >
                                YOU'RE NOT LOGGED IN
                            </p>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:schedule' %}">Schedule</a>
                </li>
                <li class="route">
                    <a href="{% url 'sni_app:venue' %}">Venue</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
